:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 100;

  color-scheme: #93c1c7;
  color: #101010;
  background-color: #93c1c7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #31abc8;
  text-decoration: inherit;
}

a:hover {
  color: #31abc8;
}

body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgba(170, 236, 236, 0.4);
  z-index: 10;
}

button {
  border-radius: 20px;
  border: 2px solid #93c1c7;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 900;
  font-family: inherit;
  background-color: #bbfeff;
  cursor: pointer;
}
button:hover {
  border-color: #31abc8;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.realative-box {
  width: 0px;
  height: 60px;
  position: relative;
}
nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  box-sizing: border-box;
  background: #93c1c7;
  position: fixed;
}

.little-image {
  width: 21px;
  height: 21px;
}

.nav-item {
  min-width: 42px;
  min-height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  border-radius: 21px;
  background-color: #fff;
}

/*Login Page*/

.login-header {
  position: absolute;
}

.login-modal_container {
  width: 100%;
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.login-modal {
  width: 400px;
  height: 260px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.big-image {
  width: 150px;
}

.little-image_container {
  display: flex;
  width: fit-content;
  padding: 2px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid black;
}

.name-container,
.password-container {
  display: flex;
  width: 230px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #101010;
  padding: 10px 10px;
  box-sizing: border-box;
}

.login {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  border: none;
  padding: 0px 8px;
  box-sizing: border-box;
  width: 180px;
  font-size: 16px;
}

input:focus {
  border: none;
  outline: none;
}

.little-image_container img {
  width: 12px;
  height: 12px;
}

.login-options_container {
  display: flex;
  align-items: center;
  width: 230px;
  gap: 30px;
}

.login-options-remember {
  display: flex;
  align-items: center;
  gap: 5px;
}

.login-options-remember input {
  width: auto;
}

/*Common Use Classes*/

.separator {
  background-color: rgba(0, 0, 0, 0.5);
  height: 5px;
  margin-bottom: 6px;
}

.separator100 {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 5px;
  margin-bottom: 6px;
}

.separator80 {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 5px;
  margin-bottom: 6px;
}
